<h1>Static#site_index</h1>
<p>Find me in app/views/static/site_index.html.erb</p>


<div id="cajas" class="wrapper">

  <div class="caja">
    <div class="caja-arriba">
      <div class="left">
        <h2>NADA advertising</h2>
        <span class="price">$10,000-$25,000</span>
        <span class="city">London</span>
      </div>
      
      <div class="right">
        <span class="logo">LOGO</span>
      </div>
      
      <%= clear %>
    </div>
    <!-- End of div.caja-arriba -->
    
    <div class="caja-abajo">
      <div class="slider">
        FOTOS
      </div>
      
      <div class="description">
        Descripci贸n
      </div>
    </div>
    <!-- End of div.caja-abajo -->
    <%= clear %>
  </div>
  <!-- end of div.caja -->
  
  <div class="caja">
    <div class="caja-arriba">
      <div class="left">
        <h2>NADA advertising</h2>
        <span class="price">$10,000-$25,000</span>
        <span class="city">London</span>
      </div>
      
      <div class="right">
        <span class="logo">LOGO</span>
      </div>
      
      <%= clear %>
    </div>
    <!-- End of div.caja-arriba -->
    
    <div class="caja-abajo">
      <div class="slider">
        FOTOS
      </div>
      
      <div class="description">
        Descripci贸n
      </div>
    </div>
    <!-- End of div.caja-abajo -->
    <%= clear %>
  </div>
  <!-- end of div.caja -->
  <div class="caja">
    <div class="caja-arriba">
      <div class="left">
        <h2>NADA advertising</h2>
        <span class="price">$10,000-$25,000</span>
        <span class="city">London</span>
      </div>
      
      <div class="right">
        <span class="logo">LOGO</span>
      </div>
      
      <%= clear %>
    </div>
    <!-- End of div.caja-arriba -->
    
    <div class="caja-abajo">
      <div class="slider">
        FOTOS
      </div>
      
      <div class="description">
        Descripci贸n
      </div>
    </div>
    <!-- End of div.caja-abajo -->
    <%= clear %>
  </div>
  <!-- end of div.caja -->
  <div class="caja">
    <div class="caja-arriba">
      <div class="left">
        <h2>NADA advertising</h2>
        <span class="price">$10,000-$25,000</span>
        <span class="city">London</span>
      </div>
      
      <div class="right">
        <span class="logo">LOGO</span>
      </div>
      
      <%= clear %>
    </div>
    <!-- End of div.caja-arriba -->
    
    <div class="caja-abajo">
      <div class="slider">
        FOTOS
      </div>
      
      <div class="description">
        Descripci贸n
      </div>
    </div>
    <!-- End of div.caja-abajo -->
    <%= clear %>
  </div>
  <!-- end of div.caja -->
  
  <%= clear %>

</div>


HOLA